



/* 资质证书 */
.ind-zizhiBox{background: url(../images/zizhiBj.jpg) no-repeat 0 0/100% 100%;}
.zizhiSwipe .swiper-container {margin: 0 50px;}
.zizhiSwipe .swiper-slide{width:360px;height: 100%; transition: 300ms; }
.zizhiSwipe .swiper-slide:not(.swiper-slide-active){transform: scale(0.8);}
.zizhiSwipe .swiper-slide img{ width: 100%; height: 100%;}

.zizhiSwipe .swiperBtn{opacity: 1; background-image: initial;transform: translateY(-50%)!important;margin-top: 0;}
.zizhiSwipe .swiperBtn img{width: 100%;height: 100%; display: block;}


			

@media only screen and (max-width: 500px){
	/* .zizhiSwipe{height: 180px;}
	.zizhiSwipe .swiper-container{margin: 0 30px;height: 100%;}
	.swiper-button-next, .swiper-button-prev{width: 20px!important;height: 37px!important;}
	.zizhiSwipe .swiper-slide{margin-right: 0px!important;width: 220px!important;} */
	
	/* .zizhiSwipe{height: 120px;} */
	.zizhiSwipe .swiper-container{height: 100%;}
	.swiper-button-next, .swiper-button-prev{width: 20px!important;height: 37px!important;}
	/* .zizhiSwipe .swiper-slide{margin-right: 50%!important;width: 220px!important;margin-left: -30%;} */
}



