<div id="OnlineMessage">
	<div class="OnlineMessage">
		<div class="w1200 pdb80">
			<!-- <div class="pubtit center">
				<h1 class="title">联系我们</h1>
				<p class="xian"></p>
			</div> -->
			<div class="cont pr clearfix">
				<div class="L-img">
					<img :src="contactData.bannerImg&&contactData.bannerImg[0]?contactData.bannerImg[0].url:''" >
				</div>
				<div class="editMsg">
					<h1 class="tit pubColor">content Us</h1>
					<div class="line">
						<input type="text" v-model="submitData.title"  placeholder="姓名">
					</div>
					<div class="line">
						<input type="text" v-model="submitData.phone" placeholder="电话" maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')" >
					</div>
					<div class="line">
						<textarea v-model="submitData.content" placeholder="留言"></textarea>
					</div>
					
					<div class="submitbtn">
						<button class="btn" type="submit" style="box-shadow: rgb(167, 206, 157) 0px 2px 6px;" @click="addMessage">确认留言</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var OnlineMessage = new Vue({
			el: '#OnlineMessage',
			data: function() {
				return {
					contactData:{},
					showIcon: false,
					submitData:{
						title:'',
						phone:'',
						content:'',
						type:1,
						thirdapp_id:2
					},
				}
			},
			created: function() {
				const self = this;
				self.getContactData()
			},
			
			mounted: function() {
				//window.addEventListener('scroll', this.handleScroll);
			},
			
			methods: {
				
				addMessage: function(id) {
					var self = this;
					
					if(self.submitData.title==''){
						alert('请输入姓名');
						return
					};
					if(self.submitData.phone==''){
						alert('请输入电话');
						return
					};
					if(self.submitData.content==''){
						alert('请输入留言内容');
						return
					};
					var postData = {
						data:window.base.cloneForm(self.submitData)
					};
					var callback = function(res){
						if(res.solely_code==100000){
							alert('提交成功')
							self.submitData = {
								title:'',
								phone:'',
								content:''
							}
						}
					};
					window.base.JustaddMessage(postData, callback);
				},
				
				getContactData(){
				    var self = this;
					console.log(345435345435435)
				    var postData = {};
				    postData.searchItem = {
						thirdapp_id:2,
					};
					postData.getBefore = {
						child:{
							tableName:'Label',
							middleKey:'menu_id',
							key:'id',
							searchItem:{
								status:['in',[1]],
								title:['in',['联系我们']]
							},
							condition:'in',
						}
					};
					postData.order = {
						listorder:'desc'
					};
				    var callback = function(res){
				        if(res.info.data.length>0&&res.info.data[0]){
							self.contactData = res.info.data[0]
				        };    
				    };
				    window.base.articleGet(postData, callback);
				},
				
				
			}
		});
</script>

<style type="text/css">
	
	/* 联系我们 */
	.OnlineMessage .cont{}
	.OnlineMessage .L-img{width: 560px;height: 680px;float: left;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
	.OnlineMessage .L-img img{width: 100%;height: 100%;}
	.OnlineMessage .editMsg{width: 1000px;height: 800px;float: right;padding: 60px 75px 60px 400px;box-sizing: border-box;  box-shadow: 0 0 10px rgba(109, 109, 109, 0.15)}
	.OnlineMessage .editMsg .tit{font-size: 30px;margin-bottom: 45px;line-height: 40px;}
	
	.OnlineMessage .editMsg .line{margin-bottom: 35px;}
	.OnlineMessage .editMsg .line input{width: 100%;height: 60px;box-sizing: border-box;padding: 0 15px;border-radius: 5px;background-color: #F5F5F5;font-size: 18px; color: #666;}
	.OnlineMessage .editMsg .line textarea{width: 100%;height: 300px;box-sizing: border-box;padding: 15px;border-radius: 5px;background-color: #F5F5F5;font-size: 18px;color: #666;}
	
	@media screen and ( max-width:1280px){
		.OnlineMessage .cont{width: 80%;margin: 0 auto;}
		.OnlineMessage .L-img{width: 40%;height: auto;}
		.OnlineMessage .editMsg{width: 80%;height: auto;padding-left: 23%;padding-right:5%;padding: 40px 3% 40px 23%;}
		.OnlineMessage .editMsg .tit{margin-bottom: 30px;}
		.OnlineMessage .editMsg .line textarea{height: 200px;}
	}
	@media screen and ( max-width:1000px){
		.OnlineMessage .cont{width: 90%;}
		.OnlineMessage .editMsg .line input{height: 50px;font-size: 15px;}
		.OnlineMessage .editMsg .line{margin-bottom: 25px;}
		.OnlineMessage .editMsg .line textarea{height: 150px;}
	}
	@media screen and ( max-width:500px){
		.OnlineMessage .cont{width: 90%;}
		.OnlineMessage .editMsg .tit{text-align: center;margin-bottom: 20px;}
		.OnlineMessage .editMsg .line input{height: 40px;font-size: 14px;}
		.OnlineMessage .editMsg .line{margin-bottom: 15px;}
		.OnlineMessage .L-img{margin: 0 auto;position: initial; top: auto;left: auto;transform: inherit;float: initial;margin-bottom: 20px;}
		.OnlineMessage .editMsg{width: 100%;padding: 30px 5%;}
		.OnlineMessage .editMsg .line textarea{height: 150px;font-size: 14px;}
		.OnlineMessage .submitbtn{padding-top: 20px;}
		.OnlineMessage .submitbtn .btn{width: 100%;height: 40px;line-height: 40px;}
	}
</style>
